html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header,
.form-header {
  height: 5%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header {
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
  height: 14%;
  justify-content: space-between;
  /*border: 4px solid #121212;*/
}

h1,
h2 {
  color: #fff;
  /*text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;*/
}

.form-h2 {
  margin-left: 20px;
}

#cross {
  margin-right: 10px;
}

.grid-container,
.form-grid-container {
  display: grid;
  height: 95%;
  grid-template-columns: 20% auto;
  grid-template-rows: auto;
  gap: 0px;
}

.form-grid-container {
  height: 86%;
}

#list-container {
  height: auto;
  grid-column: 2;
  grid-row: 1;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sidebar,
.form-sidebar {
  grid-column: 1;
  grid-row: 1;
  border-right: solid;
  border-color: #a8a8a8;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #ececec;
  gap: 10px;
}

.form-sidebar {
  /*border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
}

#ovrly {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  opacity: 0.7;
  z-index: 1;
}

#form-container {
  position: absolute;
  background-color: #f6f6f6;
  width: 80%;
  max-width: 800px;
  height: 30%;
  margin: auto;
  /*border: 3px solid #121212;
  border-radius: 10px;*/
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#newTodoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
  width: 100%;
}

.textInput {
  border: 0;
  background-color: #f6f6f6;
  width: 90%;
  resize: none;
}

#form-button-container {
  width: 100%;
  display: flex;
  height: auto;
  gap: 5px;
}

#title {
  margin-top: 5px;
}

::placeholder {
  color: #928f8f;
}

#ovrly,
#form-container {
  display: none;
}

#openFormBtn {
  max-width: 200px;
  width: 70%;
  height: 2em;
  background-color: #a5c9ff;
  border: none;
  color: #121212;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
}

#openFormBtn:hover {
  background-color: #f6f6f6;
  color: #121212;
  border: 2px solid #a5c9ff;
}

input[type='radio'] {
  opacity: 0;
  height: 1px;
  width: 1px;
  position: relative;
  pointer-events: none;
  padding: 0px;
  margin: 0px;
  left: 5.9rem;
}

label {
  padding: 5px 10px;
  cursor: pointer;
  border: 3px solid;
}

.lowLabel {
  background-color: white;
  color: #7bb662;
  border-color: #7bb662;
}

.midLabel {
  background-color: white;
  color: #ffd301;
  border-color: #ffd301;
}

.highLabel {
  background-color: white;
  color: #e03c32;
  border-color: #e03c32;
}

input[type='radio']:checked + .lowLabel {
  color: white;
  background-color: #7bb662;
}

input[type='radio']:checked + .midLabel {
  color: white;
  background-color: #ffd301;
}

input[type='radio']:checked + .highLabel {
  color: white;
  background-color: #e03c32;
}

.todoItem {
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: #d6e6ff;
  margin: 5px;
  height: 3em;
  justify-content: space-between;
  align-items: center;
}

.todoChecked {
  filter: brightness(85%);
}

.todoItem:hover {
  filter: brightness(85%);
}

.todoTitle {
  text-decoration: none;
}

.todoTitleChecked {
  text-decoration: line-through;
}

.prioLow {
  padding: 5px 10px;
  border: 3px solid;
  color: white;
  background-color: #7bb662;
  border-color: #7bb662;
}
.prioMid {
  padding: 5px 10px;
  border: 3px solid;
  color: white;
  background-color: #ffd301;
  border-color: #ffd301;
}

.prioHigh {
  padding: 5px 10px;
  border: 3px solid;
  border-color: #e03c32;
  color: white;
  background-color: #e03c32;
}

.todoDeleteBtn,
.todoCheckBtn {
  aspect-ratio: 1 / 1;
  height: 100%;
  background-color: #3d3d3d;
  border: none;
}

.todoDeleteBtn {
  color: #e03c32;
}

.todoCheckBtn {
  color: #7bb662;
}

.todoDeleteBtn:hover,
.todoCheckBtn:hover {
  background-color: #121212;
}
